*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: antiquewhite;
}

.container{
    width: 70%;
    min-height: 100vh;
    margin: auto;
    background-color: wheat;
    padding: 30px;
    box-sizing: border-box;
}

h1{
    font-family: sans-serif;
}
form{
    display: flex;
    flex-direction: column;
}

input , textarea , button{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
    font: 100 1.1rem sans-serif;
    border-radius: 8px;
    margin: 10px;
}
button{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: rgba(137, 43, 226, 0.863);
}

.task{
    background-color: rgb(247,247,247);
    font: 100 1.1rem sans-serif;
    padding: 30px;
    margin: 2vmax;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.938);
}
.task > div{
    width: 100%;
}
.task span{
    color: rgba(0, 0, 0, 0.568);
}
.deletebtn{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size:xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(248, 43, 84, 0.726);
}
.deletebtn:hover{
    background-color: crimson;
}